@page "/weightdata"
@inject HttpClient Http

<h3>Weight Data for @Name</h3>

@if (weightData == null)
{
    <p><em>Loading...</em></p>
}
else
{
    <table class="table">
        <thead>
            <tr>
                <th class="text-right">Date</th>
                <th class="text-right">Weight (lbs.)</th>
                <th class="text-right">Weight (kg.)</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var weight in weightData)
            {
                @foreach (var history in weight.WeightHistory)
                {
                    <tr>
                        <td class="text-right">@history.WeightDate.ToShortDateString()</td>
                        <td class="text-right">@history.WeightLbs</td>
                        <td class="text-right">@history.WeightKg</td>
                    </tr>
                }

            }
        </tbody>
    </table>
}

@code {
    private List<Model.PersonalWeight> weightData;

    [Parameter]
    public string Name { get; set; } = "Daddy";

    protected override async Task OnInitializedAsync()
    {
        weightData = Repositories.WeightRepository.GetWeightByName(Name);
    }
}
